.carousel-item {
    height: 30vh;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer-cta {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.price {
    color: #263238;
    font-size: 24px;
}

.card-title {
    color: #263238;
}

.sale {
    color: #e53935;
}

.sale-badge {
    background-color: #e53935;
}
/* ----------------------------------------------------- */

@import './scss/variables.scss', './scss/images.scss', './scss/fonts.scss', './scss/containers.scss', './scss/colors.scss', './scss/buttons.scss', './scss/radio.scss';

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    font-family: "Josefin Sans", sans-serif;
    caret-color: $brown;
}

::selection{
    background-color: darken($creme, 25%);
}

footer{
    position: static;
    bottom: 0;
    width: 100%;
    & a{
        margin-left: -0.5rem;
    }
}

a{
    color: black;
    
    &.button{
        // padding: 0.25rem;
        display: flex;
        align-items: center;
    }
    &:hover{
        color: $gold;
        transform: 0.5s;
    }
}

button{
    border: none;
}

.nav-link{
    font-family: 'Lato', sans-serif;
}

main{
    min-height: 100vh;
}

hr{
    margin: 5rem auto;
    width: 15rem;
    height: 1px;
    color: #000;
    background-color: #000;
}

pre{
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

/* @others */
.hero{
    margin: 5rem 0;
}

.square-creme{
    &-1{
        position: absolute;
        top: 0rem;
        right: 0rem;
        background-color: $creme;
        height: 28rem;
        width: 15rem;
        z-index: -1;
    }
    &-2{
        position: absolute;
        z-index: -1;
        background-color: $creme;
        margin-top: 5rem;
        left: 0;
        height: 30rem;
        width: 10rem;
    }
    &-3{
        position: absolute;
        z-index: -1;
        background-color: $creme;
        margin-top: 28rem;
        right: 0;
        height: 10rem;
        width: 10rem;
    }
    
}

.fa-basket-shopping:hover, .fa-right-to-bracket:hover, .fa-right-from-bracket:hover{
    color: white;
    transition: 0.5s;
}

.quote{
    // position: absolute;
    // left: 0;
    margin: -1rem;
    // padding: 0;
    font-size: 5rem;
    z-index: -1;
    opacity: 0.5;
}

.fa-star, .fa-star-half {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    &.checked{
        color: gold;
    }
    &.main{
        font-size: 1rem;
        padding: 0;
        margin: 0;
        opacity: 0.5;
    }
    &.opacity{
        opacity: 0.75;
        padding-left: -1rem;
    }
    &.review{
        font-size: 1rem;
        color: gold;
        margin: 0;
    }
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: none;
}

.checkmark {
    position: inherit;
    opacity: 1;
    height: 1rem;
    width: 1rem;
}

.rating-input{
    display: flex;
    flex-direction: row;
    & label{
        padding-right: 1rem;
    }
}
.product-amount{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
    & .fa-solid{
        color: white;
        font-size: 1rem;
        margin: 0;
    }
}

.hr{
    display: flex;
    align-self: center;
    margin: 1rem 0;
    &-full{
        width: 100%;
        margin: 2rem 0;
    }
}

textarea, input{
    outline: none;
    border: none;
    &:focus{
        border: none;
        outline: none;
        box-shadow: none;
    }
}
textarea{
    resize: none;
}

.textinput, .passwordinput{
    border-radius: 1rem;
    max-height: 8rem;
    resize: none;
    border: 1px solid grey;
    &:focus{
        border: 1px solid grey;
        box-shadow: none;
    }
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    & i{
        font-size: 5rem;
        color: darken($creme, 25%);
    }
}