.carousel-item {
    height: 30vh;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer-cta {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.price {
    color: #263238;
    font-size: 24px;
}

.card-title {
    color: #263238;
}

.sale {
    color: #e53935;
}

.sale-badge {
    background-color: #e53935;
}
/* ----------------------------------------------------- */
$creme: #F7E7D8;
$brown: #9D6939;
$dark-brown: #673E17;


@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
    font-family: "Josefin Sans", sans-serif;
}

button{
    border: none;
}

.nav-link{
    font-family: 'Lato', sans-serif;
}

main{
    min-height: 100vh;
}

hr{
    margin: auto;
    width: 15rem;
    height: 1px;
    color: #000;
    background-color: #000;
}

/* @containers */
.input{
    &-small{
        background-color: transparent;
        border: none;
        &:hover{
            cursor: pointer;
        }
        &-container{
            width: 10rem;
            background-color: white;
            border-radius: 1rem;
            display: flex;
            flex-direction: row;
            padding: 0.15rem;
        }
    }
}
.product{
    &-container{
        text-align: left;
        padding: 1rem;
        &:hover{
            cursor: pointer;
            /* background-color: #F7E7D8; */
            border-radius: 0.5rem;
        }
    }
    &-picture{
        height: 20rem;
        width: auto;
        aspect-ratio: 3/4;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
}

/* @colors */
.bg{
    &-creme{
        background-color: $creme;
    }
    &-brown{
        background-color: $brown;
    }
}
.color{
    &-black{
        color: #000;        
    }
    &-white{
        color: #fff;
    }
}

/* @fonts */
.price{
    font-family: 'Lato';
    font-weight: lighter;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

/* @buttons */
.button{
    &-round{
        border-radius: 1rem;
        padding: 0.25rem 0.75rem;
    }
    &-brown{
        background-color: $brown;
        &:hover{
            background-color: $dark-brown;
        }
    }
}

/* @others */
.hero{
    margin: 5rem 0;
    &-img{
        position: absolute;
        top: 5rem;
        right: 5rem;
        max-height: 20rem;
        z-index: -1;
    }
}
.square-creme{
    position: absolute;
    top: 0rem;
    right: 0rem;
    background-color: $creme;
    height: 28rem;
    width: 15rem;
    z-index: -1;
}

.fa-basket-shopping:hover, .fa-right-to-bracket:hover, .fa-right-from-bracket:hover{
    color: white;
    transition: 0.5s;
}