@import './variables.scss';

/* @containers */
.container{
    &.column{
        flex-direction: column;
        align-items: flex-end;
    }
}
.inside{
    display: flex;
    width: 100%;
}
.filter{
    &-container{
        & div{
            display: flex;
            flex: column;    
        }
        display: flex;
        flex: column;
        width: 100%;
        justify-content: space-between;
        border-radius: 2rem;
        // border: 1px solid black;
        background-color: $creme;
        padding: 0.25rem;
        & input, select, button{
            border: none;
            background-color: transparent;
            &:focus, &:hover{
                border: none;
                outline: none;
                background-color: transparent;
                box-shadow:none;
            }
        }
        & select{
            min-width: 8rem;
        }
        & button{
            min-width: 2rem;
            font-size: 1.25rem;
        }
    }
}
.input{
    &-small{
        background-color: transparent;
        border: none;
        &:hover{
            cursor: pointer;
        }
        &-container{
            width: 10rem;
            background-color: white;
            border-radius: 1rem;
            display: flex;
            flex-direction: row;
            padding: 0.15rem;
        }
    }
}
.product{
    &-container{
        text-align: left;
        padding: 1rem;
        &:hover{
            cursor: pointer;
            /* background-color: #F7E7D8; */
            border-radius: 0.5rem;
        }
    }
    &-picture{
        height: 20rem;
        width: auto;
        aspect-ratio: 3/4;
        border-radius: 1rem;
        margin-bottom: 1rem;
        object-fit: cover;
        &-detail{
            // aspect-ratio: 3/4;
            object-position: center;
            object-fit: cover;
            width: 100%;
            min-height: 30rem;
        }
    }
    &-detail-container{
        height: 30rem;
    }
}

.test{
    border: 1px solid black;
}

.home-body{
    margin: 5rem 0;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    // grid-template-rows: 1fr 1fr 1fr; 
    gap: 5rem 0px; 
    // border: 1px solid #000;
}

.collection-container{
    position: relative;
    width: 100%;
    margin: 2.5rem 0;
}

.justify-end{
    display: flex;
    justify-content: flex-end;
    // text-align: right;
}

.center{
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
}

.contact{
    &-input{
        width: 100%;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        background-color: $creme;
    }
    &-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        &-child{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            height: 25rem;
        }
    }
    &-form{
        &-container{
            margin-bottom: 3rem;
            padding: 1rem;

            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
}

#id_comment{
    border: none;
    background-color: $creme;
    margin-bottom: 0.5rem;
}