@import './variables.scss';

/* @fonts */
.price{
    font-family: 'Lato';
    font-weight: lighter;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

.home-subtitle{
    color: #000;
    margin: -5.5rem 0rem 0rem 0rem;
}