{% extends 'base.html' %} {% block content %}
{% load static %}

<body>
    <div class="contact-container">
        <div class="contact-form-container">
            <div class="flex-row">
                <!-- <i class="fa-solid fa-envelope"></i> -->
                <form onsubmit="generateMailtoLink(event)" method="post" enctype="text/plain" class="contact-form">
                    <div class="contact-text">
                        <h4><b>Let's get in touch</b></h4>
                        <p style="opacity: 0.8;" class="mb-0">With Team 5 of Class P</p>
                        <p style="opacity: 0.7; font-size: small;">Courtesy of Kominfo's Women In Tech Training Camp</p>
                    </div>
                    <input class="contact-input" type="text" id="subject" name="subject" required placeholder="Subject">
                    <textarea class="contact-input" id="message" name="message" rows="5" required placeholder="Your message"></textarea>
                    <button type="submit" class="button-contact mt-3">Send</button>
                </form>
            </div>
        </div>
        <div>
            <div class="contact-container-child">
                <div class="card">
                    <div class="card-inner" onmouseover="this.classList.add('flip')" onmouseout="this.classList.remove('flip')">
                        <div class="card-front">
                            <img src="{% static 'img/nadira.jpg' %}" class="img-profile"/>
                            <p class="font-contact name">Nadira Meidina Yasmine</p>
                            <p class="font-contact title">Programmer<br/>Lead Designer</p>
                        </div>
                        <div class="card-back">
                            <a href="https://github.com/nadiramei"><i class="fa-brands fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/nadira-meidina-yasmine-383ba1213/"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
        
                <div class="card">
                    <div class="card-inner" onmouseover="this.classList.add('flip')" onmouseout="this.classList.remove('flip')">
                        <div class="card-front">
                            <img src="{% static 'img/meka.jpg' %}" class="img-profile"/>
                            <p class="font-contact name">Devianda Shafira</p>
                            <p class="font-contact title">Designer<br/>Quality Assurance</p>
                        </div>
                        <div class="card-back">
                            <a href="https://www.linkedin.com/in/devianadashafira"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
        
                <div class="card">
                    <div class="card-inner" onmouseover="this.classList.add('flip')" onmouseout="this.classList.remove('flip')">
                        <div class="card-front">
                            <img src="{% static 'img/rohwina.jpeg' %}" class="img-profile"/>
                            <p class="font-contact name">Rohwina Melsiyari</p>
                            <p class="font-contact title">Quality Assurance</p>
                        </div>
                        <div class="card-back">
                            <a href="https://www.linkedin.com/in/rohwina-melsiyari-826051238/"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="contact-container-child mb-9">
                <div class="card">
                    <div class="card-inner" onmouseover="this.classList.add('flip')" onmouseout="this.classList.remove('flip')">
                        <div class="card-front">
                            <img src="{% static 'img/laeli.jpg' %}" class="img-profile"/>
                            <p class="font-contact name">Laeli Choerun Nikmah</p>
                            <p class="font-contact title">Quality Assurance</p>
                        </div>
                        <div class="card-back">
                            <a href="https://id.linkedin.com/in/laeli-choerun-nikmah-86a537151"><i class="fa-brands fa-linkedin"></i></a>
    
                        </div>
                    </div>
                </div>
        
                <div class="card">
                    <div class="card-inner" onmouseover="this.classList.add('flip')" onmouseout="this.classList.remove('flip')">
                        <div class="card-front">
                            <img src="{% static 'img/alfia.jpg' %}" class="img-profile"/>
                            <p class="font-contact name">Alfiah Nuryani</p>
                            <p class="font-contact title">Quality Assurance</p>
                        </div>
                        <div class="card-back">
                            <a href="https://www.linkedin.com/in/alfiah-nuryani-051399186"><i class="fa-brands fa-linkedin"></i></a>
    
                        </div>
                    </div>
                </div>
        
                <div class="card">
                    <div class="card-inner" onmouseover="this.classList.add('flip')" onmouseout="this.classList.remove('flip')">
                        <div class="card-front">
                            <img src="" class="img-profile" style="background-color: black;"/>
                            <p class="font-contact name">Syadza</p>
                            <p class="font-contact title">Quality Assurance</p>
                        </div>
                        <div class="card-back">
                            <a href=""><i class="fa-brands fa-linkedin"></i></a>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    
</body>

<script>
    function generateMailtoLink(event) {
        event.preventDefault(); // Prevent form submission

        // Get the values from the input fields
        var subject = document.getElementById("subject").value;
        var message = document.getElementById("message").value;

        // Encode the subject and message for use in the mailto link
        var encodedSubject = encodeURIComponent(subject);
        var encodedMessage = encodeURIComponent(message);

        // Construct the mailto link with the subject and body
        var mailtoLink = "mailto:nadirameidina@gmail.com?subject=" + encodedSubject + "&body=" + encodedMessage;

        // Open the mail client with the mailto link
        window.location.href = mailtoLink;
    }
</script>
{% endblock content %}
