{% extends 'base.html' %} {% block content %}
{% load static %}
<!--Main layout-->
<main>
    <div class="container">
        <section class="hero">
            <h1 class="color-black">Enhance Your Beauty,<br/>Adorn Your Style.</h1>
            <p class="subtitle">Discover beauty's finest treasures, unveil your radiance.</p>
            <button class="button-brown button-round color-white">See More <i class="fa-solid fa-arrow-right"></i></button>
            <div class="square-creme-1"></div>

            <img class="img-hero" src="{% static 'img/image 17.png' %}" />
        </section>

        <hr/>

        <section class="home-body">
            <div>
                <div class="square-creme-2"></div>
                <img class="img-body-1" src="{% static 'img/image 16.png' %}" />
                <img class="img-body-2" src="{% static 'img/image 18.png' %}" />
            </div>
            <div>
                <span class="quote">❝</span>
                <h3 class="home-subtitle">Style is something each of us already has, all we need to do is find it.</h3>
                <span>—Diane von Furstenberg</span>
            </div>
            <!-- <div>
                <img class="img-body-2" src="{% static 'img/image 18.png' %}" />
            </div> -->
            <div class="justify-end">
                <img class="img-body-3" src="{% static 'img/image 2.png' %}" />

            </div>
            <div class="square-creme-3"></div>

        </section>

        <hr/>

        <section>
            <div class="d-flex justify-content-between">
                <h3 style="color: #000; font-weight:800">Browse Our Collection</h3>
                <button class="button-bw">View All <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="d-flex align-items-start collection-container">
                <img class="img-collection" src="{% static 'img/image 2.png' %}" />
                <img class="img-collection" src="{% static 'img/image 2.png' %}" />
                <img class="img-collection" src="{% static 'img/image 2.png' %}" />
            </div>
            
        </section>

    </div>
</main>
<!--Main layout-->
{% endblock content %}
