{% extends 'base.html' %} {% block content %}
{% load static %}
<!--Main layout-->
<main>
    <div class="container">
        <div class="hero">
            <h1 class="color-black">Enhance Your Beauty,<br/>Adorn Your Style.</h1>
            <p class="subtitle">Discover beauty's finest treasures, unveil your radiance.</p>
            <button class="button-brown button-round color-white">See More <i class="fa-solid fa-arrow-right"></i></button>
            <div class="square-creme"></div>

            <img class="hero-img" src="{% static 'img/image 17.png' %}" />
        </div>
        <hr/>
    </div>
</main>
<!--Main layout-->
{% endblock content %}
