{% extends 'base.html' %}
{% load humanize %}

{% block content%}
<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <strong>
                <p style="font-size: 20px;">{{ object.nama_produk }}</p>
            </strong>
            <div class="col-md-6 mb-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel">
                    <div class="carousel-indicators">
                        {% for image in object.images.all %}
                        <button type="button" data-mdb-target="#carouselExampleIndicators"
                            data-mdb-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"
                            aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner product-detail-container">
                        {% for image in object.images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.gambar.url }}" class="product-picture-detail" alt="Wild Landscape" />
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators"
                        data-mdb-slide="prev">
                        <i class="fa-solid fa-chevron-left"></i>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators"
                        data-mdb-slide="next">
                        <i class="fa-solid fa-chevron-right"></i>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="mb-3">
                        <span class="badge bg-dark me-1">{{ object.get_kategori_display }}</span>
                        <span class="badge bg-dark me-1">{{ object.get_label_display }}</span>
                    </div>
                    <!-- stars -->
                    <div class="mb-3">
                        {% if average_rating %}
                        {% for _ in ""|ljust:average_rating %}
                        <i class="fa-solid fa-star"></i>
                        {% endfor %}
                        {% with decimal_part=average_rating|stringformat:'s'|slice:'2:3' %}
                        {% with decimal_integer=decimal_part|add:'0' %}
                        {% if decimal_integer > 4 %}
                        <i class="fa-solid fa-star-half"></i>
                        {% endif %}
                        {% endwith %}
                        {% endwith %}
                        {% else %}
                        <p>no reviews yet</p>
                        {% endif %}
                    </div>

                    {% if reviews.count %}

                    {% if reviews.count > 1 %}
                    <p>{{ reviews.count }} reviews</p>
                    {% endif %}

                    {% if reviews.count == 1 %}
                    <p>{{ reviews.count }} review</p>
                    {% endif %}

                    {% endif %}

                    <p class="lead">
                        {% if object.harga_diskon %}
                        <span class="me-1">
                            <del>${{ object.harga|floatformat:0|intcomma }}</del>
                        </span>
                        <span>${{ object.harga_diskon|floatformat:0|intcomma }}</span>
                        {% else %}
                        <span>${{ object.harga|floatformat:0|intcomma }}</span>
                        {% endif %}
                    </p>

                    <p>{{ object.deskripsi }}</p>

                    <!-- buttons to add/remove from cart -->
                    <div class="button-cart">
                        <a href="{{ object.get_remove_from_cart_url }}" class="button-cart-element left">-</a>
                        <span class="product-amount">
                            <i class="fa-solid fa-cart-shopping"></i>
                            {% if product_quantity %}
                            <p class="button-cart-quantity">{{ product_quantity }}</p>
                            {% else %}
                            <p class="button-cart-quantity">0</p>
                            {% endif %}
                        </span>
                        <a href="{{ object.get_add_to_cart_url }}" class="button-cart-element right">+</a>
                    </div>

                </div>
                <!--Content-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <hr />
        {% if request.user.is_authenticated %}
        {% if not user_reviewed %}
        <form method="post">
            {% csrf_token %}
            {{ review_form }}
            <button type="submit">Submit Review</button>
        </form>
        {% else %}
        <p>Thank you for submitting a review for this product.</p>
        {% endif %}
        {% endif %}

        <h4>Reviews</h4>

        {% for review in reviews %}
        <p>{{ review.user.username }}</p>
        <!-- <p>Rating: {{ review.rating }}</p> -->
        {% for _ in ""|ljust:review.rating %}
        <i class="fa-solid fa-star"></i>
        {% endfor %}
        <p>{{ review.comment }}</p>
        <hr />
        {% empty %}
        <p>No reviews available.</p>
        {% endfor %}

    </div>
</main>
<!--Main layout-->
<script>
    // Get all radio buttons with the class 'rating-input'
    const radioButtons = document.querySelectorAll('input[type="radio"].rating-input');

    // Loop through each radio button
    radioButtons.forEach(radioButton => {
        // Create a new i element
        const iconElement = document.createElement('i');
        // Add the 'fa-solid' and 'fa-star' classes to the icon element
        iconElement.classList.add('fa-solid', 'fa-star');
        // Insert the icon element after the radio button
        radioButton.insertAdjacentElement('afterend', iconElement);
    });

    // Get all the .fa-star elements inside .rating-input labels
    const stars = document.querySelectorAll('.rating-input label .fa-star');

    // Add click event listener to each star
    stars.forEach((star, index) => {
        star.addEventListener('click', () => {
            // Add 'checked' class to the clicked star and all previous stars
            for (let i = 0; i <= index; i++) {
                stars[i].classList.add('checked');
            }

            // Remove 'checked' class from the subsequent stars
            for (let i = index + 1; i < stars.length; i++) {
                stars[i].classList.remove('checked');
            }
        });
    });

</script>
{% endblock content%}